<div class="header">
    <h1 id="header-site-title"><a href="/">{{ site.Title }}</a></h1>
    <fieldset id="color-scheme-selector">
        <label for="color-scheme-selector-light" class="color-scheme-option">
            <span class="color-scheme-icon-light">○</span>
            <span class="color-scheme-icon-dark">●</span>
            <input type="radio" name="color-scheme" id="color-scheme-selector-light" value="light">
        </label>
        <label for="color-scheme-selector-auto" class="color-scheme-option">
            <span class="color-scheme-icon-light">⛭</span>
            <span class="color-scheme-icon-dark">⛭</span>
            <input type="radio" name="color-scheme" id="color-scheme-selector-auto" value="auto" checked>
        </label>
        <label for="color-scheme-selector-dark" class="color-scheme-option">
            <span class="color-scheme-icon-light">●</span>
            <span class="color-scheme-icon-dark">○</span>
            <input type="radio" name="color-scheme" id="color-scheme-selector-dark" value="dark">
        </label>
    </fieldset>
</div>