body {
    margin: 0 auto;
    max-width: min(48rem, calc(100% - 4rem));
}

a {
    color: rgb(0, 0, 0);
}

nav a, :is(h1, h2, h3, h4, h5, h6) a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    margin: 1rem 0;
}

.nav-item {
    margin: 0 1rem 0 0;
}

.terms {
    margin: 1rem 0;
}

main {
    margin: 2rem 0 1rem 0;
}

main pre {
    padding: 1rem;
}

main code {
    background-color: rgb(240, 240, 240);
}

main blockquote, main pre  {
   overflow: auto;
}

footer {
    margin: 1rem 0;
}