body {
    margin: 0 auto;
    max-width: min(48rem, calc(100% - 4rem));
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: underline;
}

nav {
    margin: 1rem 0;
}

.nav-item {
    margin: 0 1rem 0 0;
}

main {
    margin: 2rem 0 1rem 0;
}